.features-card {
  padding: 30px 20px 23px 30px;
  margin: 0;
  background-color: $color-alice-blue;

  & img {
    margin-bottom: 18px;
  }

  & h3 {
    line-height: 25px;
    margin-bottom: 13px;
  }

  & p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-tangaroa;
    margin: 0;

  }
}

.features-card__icon {
  min-height: 50px;
}
