.promo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 541px;

  @include vp-1365 {
    min-width: 464px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    min-width: auto;
  }
}

.promo__wrapper {
  @include vp-767 {
    margin: 0 auto 40px;
  }

  & h2 {
    margin: 56px 10px 25px 0;
    text-align: start;

    @include vp-1365 {
      max-width: 205px;
    }

    @include vp-767 {
      max-width: 100%;
    }
  }

  & p {
    margin: 0;
    max-width: 512px;

    @include vp-1365 {
      max-width: 324px;
    }

    @include vp-767 {
      max-width: none;
    }
  }
}

.promo__image {
  margin-left: auto;

  @include vp-767 {
    margin: 0 auto;
  }
}
